<section class="search">
  <%= form_tag("/", method: "get", class: 'search-bar') do %>
    <%= search_field_tag(:screen_name) %>
    <button type="submit">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon-black.png" alt="Search Icon">
    </button>
  <% end %>
</section>

<section>
  <div class="hover-tile-outer" style="background-image: url(<%= @user.original_profile_banner %>);">
    <div class="hover-tile-container">
      <div class="hover-tile hover-tile-visible"></div>
      <div class="hover-tile hover-tile-hidden">
        <%= content_tag :h4, @user.screen_name %>
        <%= content_tag :p, @user.description %>
      </div>
    </div>
  </div>
  <div class="stats">
    <ul>
      <li><%= @user.tweets_count %><span>Tweets</span></li>
      <li><%= @user.followers_count %><span>Followers</span></li>
      <li><%= @user.favourites_count %><span>Favourites</span></li>
    </ul>
  </div>
</section>

<section class="tweets">
  <% @user.tweets.each do |t| %>
    <div class="comment">
      <div class="comment-image">
        <%= image_tag @user.original_profile_image %>
      </div>
      <div class="comment-content">
        <%= content_tag :h1, @user.screen_name %>
        <%= content_tag :p, t.text.html_safe %>
        <%= content_tag :p, time_ago_in_words(t.created_at), class: 'comment-detail' %>
      </div>
    </div>
  <% end %>
</section>
