<section class="login-container">
  <div class="wrap">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
      <br/>
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %>
      <br/>

      <%= f.submit "Log in" %>

    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</section>
